.App {
  text-align: center;
}

/* 메인 > 상단바 */
.menubar-wrap { background-color:rgb(52,142,252); padding : 20px; display: flex; gap : 16px; color:white; align-items: center;}
.menubar-wrap > .user-email { margin-left: auto; position: relative; }
.menubar-wrap > li > select { padding : 6px; border-radius: 5px; color: rgb(52,142,252);}
.menubar-wrap > li > .inform-popup { position:absolute; margin-top: 10px; color: black; background-color: white; padding: 12px; border-radius: 5px; box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);}

/* 캠페인 관리 목록*/
.board-wrap { padding: 20px; }
.title { text-align: left; margin-bottom: 20px; }
.title-wrap { display: grid; grid-template-columns: 0.4fr 0.6fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding:8px 0 8px 0; color: gray;}
.title-wrap > li:nth-child(2), .title-wrap > li:nth-child(3) {text-align: left;}
.title-wrap > li:not(:nth-child(1),:nth-child(2),:nth-child(3)) {text-align: right;}  
.contents-wrap > li {align-items: center; padding:8px 0 8px 0;  display: grid; grid-template-columns: 0.4fr 0.6fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; border-bottom: 1px solid #dddddd; }
.contents-wrap > li > span:nth-child(2) , .contents-wrap > li > span:nth-child(3){text-align: left;}
.contents-wrap  > li > span:not(:nth-child(1),:nth-child(2),:nth-child(3)) {text-align: right;}   
.txt-no-data { padding: 20px;}
input[type="checkbox"] {
  display:none
}
input {height:30px;}
button {
  border-radius:5px; padding:5px; border:none; color: white; background-color: rgb(52,142,252);
}
.toggleSwitch {
  width: 35px;
  height: 20px;
  position: relative;
  border-radius: 30px;
  background-color: #dddddd;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

 /* 토글 버튼 */
.toggleSwitch .toggleButton {
  /* 버튼은 토글보다 작아야함  */
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: white; 
}

input[type="checkbox"]:checked ~ .toggleSwitch {
  background: rgb(52,142,252);
}

input[type="checkbox"]:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 15px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

/* 사용자 관리 */
.grid-four-columns { grid-template-columns: repeat(4,1fr) !important;}
.add-btn {display: flex;}
.two-btn-wrap {display: flex; gap: 10px; justify-content: center;}
.two-btn-wrap > button:nth-child(1) {background-color: #dddddd; color:black;}

/* 팝업 */
.modal-wrap {display: grid; justify-content: center; padding: 35px; border:1px solid #dddddd; background-color: white;
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  right: 50%; 
  z-index: 130;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}
.modal-wrap > input, div:not(.two-btn-wrap, .modal-wrap) {margin-bottom:18px;}
.modal_wrap > input { border: 1px solid black; }
.modal-wrap > span {margin-bottom: 10px;}
.modal-wrap > p {margin-bottom: 20px; color: red;}
.modal-background {
  background-color:rgba(0,0,0,.6); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;               
  display:flex; 
  padding:15px; 
  z-index: 100;
}
.modal-wrap > .border {border:1px solid #dddddd;}
.modal-wrap > .error-modal {text-align: left;}
.error-modal > div:nth-child(2) { margin-bottom: 30px;}
.error-cls-btn { display: flex; justify-content: flex-end;}
.inputWrap {
  position: relative;
  height: 30px;
  display: inline-block;
}

.inputWrap input {
width: 100%;
padding-right: 30px;
height: inherit;
}

.inputWrap .btnClear {
position: absolute;
top: 0;
right: 0;
width: 30px;
height: inherit;
background: url(https://img.icons8.com/pastel-glyph/2x/cancel.png) center center no-repeat;
background-size: 50%;
border: none;
outline: none;
cursor: pointer;
}

/* 페이징 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}