.App {
  text-align: center;
}

/* 메인 > 상단바 */
.menubar-wrap { background-color:rgb(52,142,252); padding : 20px; display: flex; gap : 16px; color:white; align-items: center;}
.menubar-wrap > .user-email { margin-left: auto; position: relative; }
.menubar-wrap > li > select { padding : 6px; border-radius: 5px; color: rgb(52,142,252);}
.menubar-wrap > li > .inform-popup { position:absolute; margin-top: 10px; color: black; background-color: white; padding: 12px; border-radius: 5px; box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);}

/* 캠페인 관리 목록*/
.board-wrap { padding: 20px; }
.title { text-align: left; margin-bottom: 20px; }
.title-wrap { display: grid; grid-template-columns: 0.3fr 0.5fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding:8px 0 8px 0; color: gray;}
.contents-wrap { display: grid; grid-template-columns: 0.3fr 0.5fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; border-bottom: 1px solid #dddddd; padding:8px 0 8px 0; }